.nav-bar {
  .ant-btn.ant-btn-text {
    background-color: transparent;
  }
}
.dropdown-enter {
  opacity: 0;
}

.dropdown-enter-active {
  transition: transform 0.2s ease-out;
  transform-origin: top;
}

.dropdown-exit-active {
  padding: 0;
  opacity: 0;
  transition: opacity 0.4s ease-out 0.4s;
}

.dropdown-enter-done {
  padding: 0;
}