.intro {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url("./background/common-bg.svg");
  background-position: center;
  max-height: 120rem;
  position: relative;
  .contentWrapper {
    z-index: 99;
    padding: 19rem 0 13rem 0;
    margin: 0 2rem;
    .title {
      font-size: 4.5rem;
      letter-spacing: 3px;
      font-weight: 800;
    }
    .subTitle {
      margin-bottom: 5rem;
      .subTitleText {
        color: #333;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        line-height: 1.6;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .intro {
    height: 100vh;
    min-height: 80rem;
    .contentWrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 90rem;
      width: 92%;
      .title {
        font-size: 6rem;
        font-weight: 800px;
      }
      .subTitle {
        margin: 3rem auto 5rem auto;
        .subTitleText {
          font-size: 2.2rem;
        }
      }
    }
    .scrollAnimation {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: 2rem;
      .mouse {
        position: relative;
        width: 25px;
        height: 40px;
        border: 2px solid #333;
        border-radius: 60px;
        overflow: hidden;
        &::before {
          content: "";
          width: 5px;
          height: 5px;
          position: absolute;
          top: 7px;
          left: 50%;
          transform: translateX(-50%);
          background-color: #333;
          border-radius: 50%;
          opacity: 1;
          animation: wheel 1.3s infinite;
        }
      }
    }
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}
