.footer {
  .ant-tabs-nav-list {
    color: #fff;
    padding-top: 2rem;
  }
  .ant-tabs .ant-tabs-tab {
    font-weight: 400;
    font-size: 1.2rem;
  }
  .ant-tabs .ant-tabs-tab:first-child {
    +.ant-tabs-tab {
      margin: 0;
    }
    &::after {
      content: "";
      border: 1px solid #fff;
      width: 15px;
      transform: rotate(90deg);
    }
  }
  .ant-tabs .ant-tabs-tab:hover {
    color: #facf0f;
  }
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #facf0f;
  }
  .ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
    display: none;
  }
}
