.footer {
  background: #000;
  color: #fff;
  text-align: left;
  .mainContainer {
    max-width: 120rem;
    margin: auto;
    width: 92%;
    .mainFooterUpper {
      padding: 6rem 0;
      .heading {
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      .mainFooterRow1 {
        margin-bottom: 5rem;
        .footerSocialCont {
          margin-top: 2rem;
          .mainFooterIcon {
            margin-right: 1rem;
            width: 2.5rem;
          }
        }
      }
      .mainFooterRow2 {
        width: 100%;
        max-width: 50rem;
        .footerShortDesc {
          margin-top: 2rem;
          color: #eee;
          font-size: 1.5rem;
          line-height: 1.7;
        }
      }
    }
    .mainFooterLower {
      padding: 3.5rem 0;
      border-top: 1px solid #444;
      color: #eee;
      font-size: 1.2rem;
      text-align: center;
      a {
        text-decoration: underline;
        font-weight: 700;
        margin-left: 2px;
        color: #eee;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .footer {
    .mainContainer {
      .mainFooterUpper {
        display: flex;
        justify-content: space-between;
        .mainFooterRow1 {
            order: 2;
        }
      }
    }
  }
}
